@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300&display=swap');

body{margin:0;
padding:0;}

header{
    margin:0px;
    height:auto;
    padding:0px;
    background-color:rgb(104, 99, 99);
    box-shadow: black 0px 7px 7px;}

.nav-link{display: inline-block;
position: relative;}

.navbar ul, li, .nav-link
{text-transform: uppercase;
font-family:Space Grotesk,sans-serif ;
font-size:25px;
color: white;
text-align: center;
list-style: none;
display: inline-block;
letter-spacing: 4px;
margin-right:20px;}

.navbar-toggler{margin-right:20px;}

.logo{width:25%;
margin-left:20px;}

.collapse ul li{background-color:rgb(101,99,99);}

li a:hover{color:white;
text-decoration: underline rgb(188, 206, 27) ;}

li .active{background-color: rgb(188,206,27);
border-radius: 20px;}

.cover-img{width:100%;
height:auto;
margin-top:3px;}

.main{background-color:rgba(37, 34, 43, 0.644);}

.profile-img{
    float:left;
    height:auto;
    margin:20px 15px 15px 15px;
    max-width:200px;
    padding: 10px;
    padding-top:10px;
    border-radius:25px;
    box-shadow: rgb(188, 206, 27) 3px 3px 3px;
    }

    .introduction{
        padding:25px;
        text-align: justify;
        color:white;
        font-size:20px;
    font-family: space grotesk,sans-serif;}

    .contact-info{text-align: center;
        padding-bottom: 10px;
        padding-top: 15px;
        height: 200px;
        font-size:20px;
        background: rgb(172,150,104);
        color:white;
        font-family: poppins,sans-serif;
        border-radius: 10px;
        border:2px solid white;
        margin:10px;
    }

    .reachme{padding:10px;
        text-decoration:underline 2px solid white;
        letter-spacing: 6px;}

        .copyright{
            color: white;
            font-family: space grotesk,sans-serif;
            font-size: 1.5rem;
            width:auto;
            height:auto;
            background-color:rgb(104, 99, 99);
            padding-top:10px;
            padding-bottom: 10px;
            border-top: 3px solid white;
        }


#about{
    color:white;
    font-family: space grotesk,sans-serif;
    font-size:20px;
    text-align: justify;
    padding:15px;
}

h3{text-align:center;
color:rgb(188, 206, 27);
padding:20px; }

#main-img{border-radius: 20px;
    border:3px solid rgb(188, 206, 27)}

.web-link{ text-decoration: none;
    color:aqua;}

.web-link:hover{color:rgb(0, 218, 0)}

.img-des{font-size: 15px;
    text-align:justify;}

    .ezystak{ float:right;
        max-width:60%;
      margin:20px;}


.sm-img{border-radius: 25px;
     border: 3px solid rgb(188, 206, 27);
  text-align: relative;}

  .lorry{width: 100%;}

  
.Rocco{float:left;
    margin: 10px;
    position: relative;
    max-width:40%;
    height:auto;}