@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300&display=swap');

body{
    margin:0;
    padding:0;}

header{
    margin:0px;
    height:auto;
    padding:0px;
    background-color:rgb(104, 99, 99);
    box-shadow: black 0px 7px 7px;}

.nav-link{display:inline-block;
    position: relative;}

.navbar ul, li, .nav-link{
    text-transform: uppercase;
    font-family:Space Grotesk,sans-serif ;
    font-size:25px;
    color: white;
    text-align: center;
    list-style: none;
    letter-spacing: 4px;
    padding:10px;}

.navbar-toggler{margin:10px;}

.logo{
    width:70%;
    margin-left: 10px;
    float: left;}

.collapse ul li{background-color:rgb(101,99,99);
}

li a:hover{
    color:white;
    text-decoration: underline rgb(188, 206, 27) ;}

li .active{
    background-color: rgb(188,206,27);
    border-radius: 20px;
    width:100%;}

.cover-img{
    width:100%;
    height:auto;
    margin-top:3px;}

main{
    background-color:rgba(37,34,43, 0.644);
    font-family: space grotesk,sans-serif;
    color: white;
    font-size:20px;
    padding:10px;}

.profile-img{
    float:left;
    margin:auto;
    height:auto;
    padding: 10px;
    padding-top:20px;
    border-radius:25px;
    }


.introduction{
    padding:25px;
    text-align: relative;
    color:white;
    font-size:20px;
    font-family: space grotesk,sans-serif;}

.contact-info{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 200px;
    font-size:80%;
    display:block;
    background-color:rgb(172,150,104);
    color:white;
    font-family: poppins,sans-serif;
    border-radius: 10px;
    border:2px solid white;
    margin:10px;}

.media-link{display:inline-block;
    align-items: center;
    padding:10px;
    margin:15px;
    color: blue;
    border-radius: 50px;
    background-color:white;}

   

.media-link:hover{
    background-color:rgb(188,206,27);}

.reachme{
    padding:10px;
    text-decoration:underline 2px solid white;
    letter-spacing: 6px;}

.copyright{
    color: white;
    font-family: space grotesk,sans-serif;
    font-size: 1.5rem;
    width:auto;
    height:auto;
    background-color:rgb(104, 99, 99);
    padding-top:10px;
    padding-bottom: 10px;
    border-top: 3px solid white;}


#about{
    color:white;
    font-family: space grotesk,sans-serif;
    font-size:20px;
    text-align: justify;
    padding:15px;}

h3{
    text-align:center;
    color:rgb(188, 206, 27);
    padding:20px; }

#main-img{width: 100%;}

.web-link{
    text-decoration: none;
    color:aqua;}

.web-link:hover{color:rgb(0, 218, 0)}

.img-des{
    font-size: 15px;
    text-align:justify;}

.ezystak{ 
    height:auto;
    float:left;
    padding:20px;
    margin:auto;
    position: relative;
   }


.lorry{ width: 100%;
        margin:auto;
        padding:20px;
}


.Rocco{
    float:left;
    margin:auto;
    padding:20px;
    position: relative;
    height:auto;
    max-width: 100%;
    }

.plc{
    align-items: center;
    width:100%;
    padding:20px;}

.em-logos{
    margin:auto;
    width:55%;
    height:auto;
    align-content: center;
    border-radius: 15px;
    box-shadow: 5px 10px 9px black;
    display: block;}

.em-logos:hover{
    border: 5px solid yellow;}

.history-info{margin: 20px;}

h2{
    color: white;
    padding:25px;
    position: relative;
    width: 100%;
    text-align: center;
    text-decoration:underline 1px solid white;}

.em-history{
    background-color:rgb(101, 99, 99);
    border-radius: 30px;
    align-items: center;
    color: white;
    justify-content: center;
    padding: 20px;
    margin:20px;
    max-width: 80%;
    border:2px solid white;}

.education{
    background-color:rgb(101,99,99);
    border-radius: 30px;
    align-items: center;
    justify-content: center;
    margin:20px;
    padding:20px;
    max-width:80%;
    border:2px solid white;}

.em-des{
    padding:20px;
    text-align: center;
    position: relative;
    font-size: 20px;
    display: block;}


.school, .college, .study{padding-bottom: 40px;
                          font-size:20px;
                          text-align:center;
                          width:100%;}

.em-ed{text-align: center;}

.pro-section{
    border: 1px solid white;
    text-align: center;
    border-radius: 15px;
    margin:15px;
    padding: 15px;}

.port-img{
    border-radius:25px;
    padding:15px;
    max-width: 75%;}

.port-intro{padding:15px;}

.project-text{
    text-align:center;
    color: white;
    font-size:15px;}

.pro-btn{
    background-color:green;
    border-radius: 15px;
    border:3px solid white;
    width:auto;
    height:auto;
    text-decoration: none;
    color: white;
    transition: ease-out 0.3s;
    position: relative;
    text-align: center;
    max-width: 80%;
    font-size: auto;}

.pro-btn:hover{
    background-color:orangered;
    letter-spacing: 2px;}

form{
    max-width: 80%;
    border:2px solid white;
    margin:auto;
    padding:2rem;}

#submit-btn:hover{
    background-color:rgb(165, 165, 1);
    letter-spacing: 2px;}


input{
    display:block;
    width:100%;
    border:2px solid black;
    padding:0.5rem;}

textarea{
    min-height: 8em;
    border:2px solid black;
    padding:0.5rem;
    width:100%;}

#submit-btn{
    border:0;
    background-color: green;
    border-radius: 10px;
    padding:0.5rem;
    color:white;
    width:100%;
    text-transform: uppercase;
    font-size: 18px;
    position: relative;}

h4{
    text-align: center;
    color:white;
    font-family: space grotesk,sans-serif;
    justify-content: auto;}

    @media (max-width:550px){
        .profile-img{
            width:70%;
            height:20%;
            text-align:start;
            text-align-last: center;
            align-items: center;
            margin-right:15%;
            margin-left:15%;
            border-radius:80px;
            border:2px solid rgb(165, 165, 1);
            padding:0;
            margin-bottom: 10%;
        }
    }

    @media (max-width:780px) {
        .media-link{
            margin: 5px;
            padding:6px;
            padding-top: 10px;
            align-items: center;
        }
    }